/* DARK BLUE BACKGROUND COLOR  */
html {
  height:100%;
  background-color: #233342;
/*  background-image: url(img/water.png);
  animation: water 15s infinite;
  background-repeat: repeat-x;*/

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4b2b31;
}

li {
  float: left;
}

li a {
  font-family: 'Capriola', sans-serif;
  display: block;
  color: #e9aa8f;
  text-align: center;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 1.1em;
  transition: 0.6s;
}

a:hover  {
  background-color: #6f3637;
}

h1{
font-family: 'Heebo', sans-serif;
text-align: center;
color: #e9aa8f;
letter-spacing: 1.2em;
}

p{
font-family: 'Heebo', sans-serif;
font-weight: 200;
text-align: center;
color: #e9aa8f;
font-size: 1.1em;
letter-spacing:0.1em;
}
/* ANIMATIONS  */
@keyframes shake {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(0deg); }
  20% { transform: rotate(1deg); }
  30% { transform: rotate(0deg); }
  40% { transform: rotate(0deg); }
  50% { transform: rotate(-1deg); }
  60% { transform: rotate(0deg); }
  70% { transform: rotate(-1deg); }
  80% { transform: rotate(0deg); }
  90% { transform: rotate(1deg); }
  100% { transform: rotate(-1deg); }
}
.welcome{
  font-weight:300;
    -webkit-animation: color-change 5s forwards;
    -moz-animation: color-change 5s forwards;
    -o-animation: color-change 5s forwards;
    -ms-animation: color-change 5s forwards;
    animation: color-change 5s forwards;
}

@-webkit-keyframes color-change {
  0% { color: #233342; }
 100% { color: #e9aa8f; }

}
@-moz-keyframes color-change {
  0% { color: #233342; }
 100% { color: #e9aa8f; }

}
@-ms-keyframes color-change {
  0% { color: #233342 }
 100% { color: #e9aa8f; }

}
@-o-keyframes color-change {
  0% { color: #233342; }
 100% { color: #e9aa8f; }

}
@keyframes color-change {
  0% { color: #233342; }
 100% { color: #e9aa8f; }
}

@keyframes  water {
  from{
    background-position: left 0 bottom 100;
  }
  to{
    background-position: left 1000px bottom 100;
  }
}
h3{
  font-family: 'Heebo', sans-serif;
  text-align: center;
  color: #e9aa8f;
  letter-spacing:0.1em;
}


/* GRID FOR 3 STORE ITEMS  */
.storegrid {
display : grid;
grid-template-columns : 1fr 1fr 1fr;
align-items : center;
margin-left : 20%;
margin-right : 20%;
}

.watercan {
width : 100%;
transition : transform 0.5s;

}

.watercan:hover {
transform : scale(1.1);
}

/*GRID FOR ABOUT */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left : 10%;
  margin-right : 10%;
}

.grid-item {
  margin-left : 20%;
  margin-right : 20%;
  margin-top:5%;
  text-align: center;
}
.img-about{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.img-about:hover {
  animation: shake 0.5s;
}


input[type=text],[type=email],[type=password],[type=tel],[type=number], select {
  width: 30%;
  padding: 10px 20px;
  border: 0px;
  border-radius: 0px;
  box-sizing: border-box;
}

input[type="submit"] {
padding : 10px 30px;
background : #e9aa8f;
border : none 0;
cursor : pointer;
font-size : 20px;
border-radius : 0;
color : #233342;
}






/* FOR SMALL SCREENS  */

@media screen and (max-width: 800px) {

  .storegrid {
  grid-template-columns : 1fr ;
  }

  .watercan {
  margin-top: 1.5em;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  .grid-item{
    margin-bottom:20%;
  }

  input[type=text],[type=email],[type=password],[type=tel],[type=number], select {
    width: 50%;
  }




}
